    /* Reset and Global Styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        overflow-x: hidden;
        overflow: hidden;
    }

    body {
        background-color: black;
        color: white;
        padding-top: 85px;
    }


    /* Navigation Bar */
    .navigation_bar {
        z-index: 10;
        top: 0;
        position: fixed;
        height: 80px;
        width: 100%;
        flex-direction: row;
        column-gap: 10px;
        background-color: black;
        padding: 8px;
        box-shadow: 0px -1px 40px rgb(111, 111, 111);
    }

    .navigation_left {
        padding-left: 10px;
    }

    .navigation_right {
        padding-right: 10px;
    }

    .spotify_logo img {
        height: 32px;
        width: 32px;
    }

    .home_circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: rgb(40, 40, 40);
    }

    .search_bar {
        height: 48px;
        width: 474px;
        background-color: rgb(31, 31, 31);
        border-radius: 50px;
        padding: 5px;
    }

    .search_bar input {
        color: white;
        height: 48px;
        width: 350px;
        outline: none;
        background: transparent;
        border: none;
    }

    .home_logo,
    .search_logo,
    .browse_img {
        height: 25px;
        width: 25px;
    }

    .browse_img {
        margin-right: 10px;
    }

    .straight_bar {
        font-size: 35px;
    }



    .search_text {
        font-size: 14px;
        color: rgb(179, 179, 179);
    }

    .three_texts a,
    .install a {
        color: white;
        text-decoration: none;
    }

    .install img {
        height: 18px;
        width: 18px;
    }

    .install_signup_login {
        font-size: 14px;
        color: rgb(179, 179, 179);
        font-weight: 600;
    }

    .login {
        height: 40px;
        width: 100px;
        border-radius: 20px;
        background-color: white;
        color: black;
    }

    .home_circle:hover,
    .search_logo:hover,
    .browse_img:hover,
    .three_texts a:hover,
    .install:hover,
    .sign_up_text:hover,
    .login:hover,
    .spotify_logo:hover {
        scale: 1.15;
        cursor: pointer;
    }

    .search_bar:hover {
        background-color: rgb(40, 40, 40)
    }


    /* Left-Right Layout */
    .left_right {
        flex-direction: row;
        height: calc(100vh - 85px);
        width: 100%;
        padding: 8px 8px;
    }

    .left,
    .right {
        height: calc(100vh - 90px);
        background-color: rgb(18, 18, 18);
        border-radius: 15px;
        box-sizing: border-box;
    }

    .left {
        padding: 5px 10px;
        width: 25vw;
        flex-direction: column;
        overflow: hidden;
    }


    /* Sidebar - Left Panel */
    .library {
        box-sizing: border-box;

        height: 8vh;
        padding: 10px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .library_icon_and_statment {
        flex-direction: row;
    }

    .library_icon {
        height: 40px;
        width: auto;
    }

    .plus_sign {
        height: 16px;
        width: 16px;
    }

    .plus_circle {
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }

    .plus_circle:hover {
        background-color: rgb(31, 31, 31);
        cursor: pointer;
    }

    .initial_song_message {
        color: gray;
    }

    .library_and_songs_listened {
        height: 65vh;
        box-sizing: border-box;
        flex-direction: column;
    }

    .songs_listened {
        box-sizing: border-box;
        overflow-y: scroll;
        height: 55vh;
        width: 100%;
        padding: 10px 5px;
        row-gap: 5px;
        border-radius: 5px;
        flex-direction: column;
    }

    .song_listened_card {
        flex-direction: row;
        height: 100px;
        width: 100%;
        background-color: rgb(25, 25, 25);
        margin: 5px 0px;
        border-radius: 15px;
        padding-left: 15px;
    }

    .song_listened_card:hover {
        background-color: rgb(40, 40, 40);
    }

    .songs_listened_img {
        height: 80px;
        width: auto;
        border-radius: 10px;
    }

    .songs_listened::-webkit-scrollbar {
        width: 5px;
    }

    .songs_listened::-webkit-scrollbar-track {
        background-color: black;
        border-radius: 15px;
    }

    .songs_listened::-webkit-scrollbar-thumb {
        background-color: rgb(55, 55, 55);
        border-radius: 15px;
    }

    .site_info {
        box-sizing: border-box;
        height: 25vh;
        color: rgb(179, 179, 179);
        flex-direction: column;
        row-gap: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .site_info a {
        color: gray;
        text-decoration: none;
    }

    .site_info a:hover {
        cursor: pointer;
        text-decoration: underline;
        color: white;
    }

    .english_btn {
        flex-direction: row;
        height: 30px;
        width: 100px;
        background-color: black;
        border: 1px solid white;
        border-radius: 25px;
        color: white;
    }

    .english_btn img {
        height: 15px;
        width: 15px;
    }

    .english_btn:hover {
        scale: 1.05;
        cursor: pointer;
        border: 2px solid white;
    }


    /* Right Panel */
    .right {
        overflow-y: scroll;
        width: 75vw;
        padding: 20px;
    }

    .right::-webkit-scrollbar {
        width: 5px;
    }

    .right::-webkit-scrollbar-track {
        background-color: black;
        border-radius: 15px;
    }

    .right::-webkit-scrollbar-thumb {
        background-color: rgb(55, 55, 55);
        border-radius: 15px;
    }


    /* Trending & Popular Sections */
    .trending_container,
    .popular_artist_container,
    .english_song_container,
    .hindi_song_container {
        position: relative;
        margin-bottom: 5px;
    }

    .trending_songs,
    .popular_artists,
    .english_songs,
    .hindi_songs {
        height: 330px;
        flex-direction: row;
        padding: 10px;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .trending_container::before,
    .trending_container::after,
    .popular_artist_container::before,
    .popular_artist_container::after,
    .english_song_container::before,
    .english_song_container::after,
    .hindi_song_container::before,
    .hindi_song_container::after {
        border-radius: 15px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 60px;
        z-index: 2;
    }

    .trending_container::before,
    .popular_artist_container::before,
    .english_song_container::before,
    .hindi_song_container::before {
        left: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
    }

    .trending_container::after,
    .popular_artist_container::after,
    .english_song_container::after,
    .hindi_song_container::after {
        right: 0;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
    }

    .backward_svg,
    .forward_svg {
        cursor: pointer;
        z-index: 3;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 95px;
    }

    .forward_svg {
        right: 0px;
    }


    /* Song Cards and Play Button */
    .song_card,
    .popular_artist_card {
        position: relative;
        border-radius: 10px;
        padding: 8px;
        height: 290px;
        width: 200px;
    }

    .song_card:hover,
    .popular_artist_card:hover {
        background-color: rgb(31, 31, 31);
    }

    .song_card_image {
        border-radius: 15px;
    }

    .song_card img {
        height: 172px;
        width: 182px;
    }

    .popular_artist_card img {
        object-fit: contain;
        width: 172px;
        height: 172px;
        border-radius: 50%;
    }

    .playimg {
        position: absolute;
        height: 45px;
        width: 45px;
        bottom: 0px;
        right: 25px;
        opacity: 0;
    }

    .playimg img {
        height: 100%;
        width: 100%;
    }

    .playimg img:hover {
        cursor: pointer;
        border: 2px solid white;
        border-radius: 50%;
    }

    .song_card:hover .playimg {
        animation: up_play_animation 0.5s ease-in-out 0ms forwards;
    }

    .popular_artist_card:hover .playimg {
        animation: up_play_animation_artist 0.5s ease-in-out 0ms forwards;
    }


    /* Song Play Container */
    .song_play_container {
        position: relative;
        flex-direction: column;
        z-index: 1;
        height: calc(100vh - 80px);
        width: 100%;
        row-gap: 5px;
        padding: 5px;
    }

    .back_button {
        cursor: pointer;
        position: absolute;
        background-color: black;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        border: 2px solid white;
        left: 30px;
        top: 30px;
    }

    .back_button img {
        height: 30px;
        width: 30px;
    }

    .back_button:hover {
        scale: 1.2;
    }

    .song_big_img {
        background-color: rgb(18, 18, 18);
        height: calc(100vh - 80px - 20vh);
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
    }

    .song_big_img img {
        max-width: 100%;
        max-height: 75%;
        width: auto;
        height: auto;
        object-fit: contain;
        border-radius: 15px;
        box-shadow: 0px 0px 100px black;
        transition: transform 0.3s ease-in-out;
    }

    .song_big_img img:hover {
        transform: scale(1.1);
    }


    /* Footer Player Controls */
    .footer_playbar {
        overflow: hidden;
        flex-direction: row;
        border-radius: 15px;
        height: 20vh;
        padding: 10px;
        width: 100%;
        background-color: rgb(18, 18, 18);
    }

    .song_img_name,
    .mute_volume {
        height: 19vh;
        width: 25vw;
    }

    .song_controls_container {
        flex-direction: column;
        height: 19vh;
        width: 50vw;
    }

    .song_img_name {
        flex-direction: row;
        width: 20vw;
    }

    .small_img {
        height: 100px;
        width: 100px;
        border-radius: 15px;
    }

    .song_name_artist {
        flex-direction: column;
        row-gap: 10px;
    }

    .song_controls {
        flex-direction: column;
        row-gap: 15px;
        border-radius: 200px;
        height: 100px;
        width: 100%;
        background-color: rgb(69, 69, 69);
    }

    .play_buttons {
        flex-direction: row;
        column-gap: 25px;
    }

    .play_buttons img {
        cursor: pointer;
        height: 20px;
        width: 20px;
        transition: transform 0.2s ease-in-out;
    }

    .play_buttons img:hover {
        scale: 1.4;
        transform: rotate(360deg);
    }

    .seekbar_container {
        height: 30px;
        width: 90%;
        flex-direction: row;
        column-gap: 15px;
    }

    .seekbar {
        cursor: pointer;
        position: relative;
        flex-direction: column;
        background-color: black;
        height: 6px;
        width: 75%;
        border-radius: 10px;
    }

    .seekbar_color {
        position: absolute;
        height: 100%;
        background-color: rgb(29, 184, 84);
        border-radius: 10px;
        width: 0%;
        transition: all 0.4s ease;
    }

    .seekbar_circle {
        cursor: pointer;
        position: absolute;
        left: 0%;
        background-color: white;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        transition: all 0.4s ease;
    }


    /* Volume Control */
    .mute_volume {
        width: 20vw;
        padding: 10px;
    }

    .mute_btn {
        cursor: pointer;
        height: 30px;
        width: 30px;
    }

    .mute_btn:hover {
        scale: 1.3;
    }

    .volume_inc_dec {
        flex-direction: column;
        row-gap: 5px;
        height: 100%;
    }

    .volume_inc_dec img {
        height: 22px;
        width: 22px;
    }

    .volume_slider {
        position: relative;
        background-color: gray;
        width: 9vw;
        height: 5px;
    }

    .volume_slider_circle {
        position: absolute;
        cursor: pointer;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: white;
        transition: left 0.2s ease-in-out;
    }

    .vol_inc_dec_btn {
        width: 9vw;
        flex-direction: row;
    }

    .vol_inc_dec_btn img,
    .volume_slider {
        cursor: pointer;
    }

    .vol_inc_dec_btn img:hover {
        scale: 1.3;
    }